//site header
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
//website title
<title>Express App</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
//container for body content
<body class="container">
  <h1>
    Expressive Students Example
    <a href="/new-entry" class="btn btn-primary pull-right">
      Fill the form, and email us your bank details to complete the proccess 
    </a>
  </h1>
